# Ignore svn files.
.svn

# Ignore IDE files (eclipse & netbeans)
.project
.settings
nbproject

# Ignore variable files
openSGrame/data/cache/*
!.gitignore

openSGrame/data/files/*
!.gitignore

openSGrame/data/session/*
!.gitignore

# Ignore the app specific config files
openSGrame/application/configs/config.ini
openSGrame/application/configs/navigation-app.ini

# Ignore non core modules
openSGrame/application/modules/*
!default
!mail
!user
!file

# Ignore non base libraries
openSGrame/library/*
!SG
!TB
!Zend
!ZendX
