# Ignore svn files.
.svn

# Ignore eclipse files
.project
.settings

# Ignore Netbeans files
nbproject

# Ignore variable files
openSGrame/data/Zend*

openSGrame/data/session/*
!.gitignore

openSGrame/data/cache/*
!.gitignore

openSGrame/application/configs/config.ini
openSGrame/application/configs/navigation-app.ini

# Ignore non core modules
openSGrame/application/modules/*
!default
!mail
!user
!file

# Ignore non base libraries
openSGrame/library/*
!SG
!TB
!Zend
!ZendX
