# Ignore svn files.
.svn

# Ignore IDE files (eclipse & netbeans)
.project
.settings
nbproject

# Ignore variable files
openSGrame/data/cache/*
!.gitignore

openSGrame/data/files/*
!.gitignore

openSGrame/data/session/*
!.gitignore

# Ignore the app specific config files
openSGrame/application/configs/config.ini
openSGrame/application/configs/navigation-app.ini

# Ignore non core modules
openSGrame/application/modules/*
!activity
!default
!file
!mail
!user

# Ignore non core languages
openSGrame/application/languages/source/*
!openSGrame
openSGrame/application/languages/*/*
!openSGrame



# Ignore non core module tests
tests/application/modules/*
!activity
!default
!file
!mail
!user


# Ignore non base libraries
openSGrame/library/*
!SG
!TB
!ZFDebug
!Zend
!ZendX



vpproject/